<div class="container">
  <div class="row">
  <h3 class="px-3">Object</h3>
  <% if user_signed_in? %>
    <%= link_to "CreateObject", new_target_path, class: "btn btn-primary" %>
  <% else %>
  <% end %>
  </div>

  <div class="row">
  <table>
    <thead>
      <tr>
        <th class="text-center"><%= sort_order "created_at", "作成日時" %></th>
        <th class="text-center">目標</th>
        <th>作成ユーザー</th>
      </tr>
    </thead>
    <% @targets.each do |target| %>
    <tbody>
    <tr>
      <%#target.user.name%>
      <div class="mx-2 py-3">
        <td class="text-center"><%= target.created_at %></td>
        <td class="text-center"><%= link_to target_path(target.id) do %>
        <%=target.title%><% end %></td>
        <td class="text-center"><%= target.user.name %></td>
      </div>
    </tr>
    </tbody>
    <% end %>
  </table>
  </div>
</div>