<div class="container">
  <div class="row">
    <h4 class="">目標:<%= @target.title %></h4>
  </div>

  <div class="row">
    <h4>概要：<%= @target.detail %></h4>
  </div>

  <%#いいね%>
  <%#eachで取り出してない為、ローカル変数ではエラーになる%>
  <% if user_signed_in? %>
  <div id="favorite_<%= @target.id %>">
    <%= render 'targets/favorite', target: @target %>
  </div>

  <div class="row">
    <% if current_user.id == @target.user.id %>
    <%= link_to "投稿を削除", target_path, method: :delete %>
    <% end %>
  <% end %>
  </div>
</div>