<div class="container">
  <div class="row">
    <h4 class="">目標:</h4>
    <p><%= @target.title %></p>
  </div>

  <div class="row">
    <h4>概要：</h4>
    <p><%= @target.detail %></p>
  </div>

  <%#いいね%>
  <div class="row">
    <% if @target.favorited_by?(current_user) %>
      <p id="favorite_<%= @target.id %>">
        <%= link_to target_favorites_path(@target), method: :delete, remote: true do %>
          ♥<%= @target.favorites.count %>いいね
          <%= render 'target_favorites_path', { target: @target, url: target_path(@target) } %>
        <% end %>
      </p>
    <% else %>
     <p id="favorite_<%= @target.id %>">
        <%= link_to target_favorites_path(@target), method: :post, remote: true do %>
          ♡<%= @target.favorites.count %>いいね
          <%= render 'target_favorites_path', {target: @target, url: target_path(@target) } %>
        <% end %>
      </p>
    <% end %>
  </div>

  <div class="row">
    <% if user_signed_in? %>
    <%= link_to "投稿を削除", target_path, method: :delete %>
    <% end %>
  </div>
</div>