<div class="container">
  <div class="row">
    ユーザー名：<%= @user.name %>
  </div>

  <div class="row">
  <% if user_signed_in? && @user == current_user %>
  ログイン中です
  <%= link_to 'フォロー一覧', follows_user_path %><%= link_to 'フォロワー一覧', followers_user_path %>
  <% end %>
  </div>
  <div class="row">
  <% if current_user != @user %>
    <% if current_user.following?(@user) %>
    <%= link_to 'フォローを解除', user_relationship_path(@user.id), method: :delete %>
    <% else %>
    <%= link_to 'フォローする',user_relationships_path(@user.id), method: :POST %>
    <% end %>
  <% end %>
  </div>

  <div class="row">
    フォロー：<%= @following_users.count %>
    フォロワー：<%= @follower_users.count %>
  </div>
</div>