<div class="container">
 <div class="row">
   <% if user_signed_in? %>
   <p>ようこそ<%= @user.name %>さん、目標を公言しやりきる習慣を身に付けましょう!</p>
   <% else %>
   <p>ようこそ、目標を公言しやりきる習慣を身に付けましょう!</p>
   <% end %>
 </div>

 <div class="row">
  <table>
   <thead>
    <tr>
     <th class="text-center">作成日時</th>
     <th class="text-center">目標</th>
     <th>作成ユーザー</th>
    </tr>
   </thead>
   <% @targets.each do |target| %>
   <tbody>
    <tr>
     <div class="mx-2 py-3">
      <td class="text-center"><%= target.created_at %></td>
      <td class="text-center"><%= link_to target_path(target.id) do %>
      <%=target.title%><% end %></td>
      <td class="text-center"><%= target.user.name %></td>
     </div>
    </tr>
    </tbody>
    <% end %>
  </table>
 </div>
</div>